<ion-tabs>

  <div slot="bottom" class="custom-tabs">
    <a class="tab" routerLink="/tabs/tab1" routerLinkActive="active">
      <div class="tab-content">
        <ion-icon name="home"></ion-icon> &nbsp;
        <span class="tab-title">Home</span>
      </div>
    </a>
    <a class="tab" routerLink="/tabs/tab2" routerLinkActive="active">
      <div class="tab-content">
        <ion-icon name="person"></ion-icon> &nbsp;
        <span class="tab-title">Profile</span>
      </div>
    </a>
    <a class="tab" routerLink="/tabs/tab3" routerLinkActive="active">
      <div class="tab-content">
        <ion-icon name="cog"></ion-icon> &nbsp;
        <span class="tab-title">Settings</span>
      </div>
    </a>
  </div>


</ion-tabs>
