ion-content, ion-tabs {
    background: #f4f5fa;;
    --background: #f4f5fa;;
}

.custom-tabs {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: 10px;

    .tab {
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;

        .tab-content {
            display: flex;
            align-items: center;
            border-radius: 20px;
            color: #c5c7d1;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 600;
            transition: all 0.5s ease;

            .tab-title {
                width: 0;
                height: 0;
                overflow: hidden;
                transition: all 1s ease;
            }
        }

        &.active {
            .tab-content {
                background: var(--ion-color-tertiary);
                color: white;

                .tab-title {
                    width: 60px;
                    height: 22px;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    ion-content, ion-tabs {
        background: var(--ion-background-color);
        --background: var(--ion-background-color);
    }
    .custom-tabs {
        background-color: var(--ion-toolbar-background);
    }
}